USER_NAME=''
UNKNOWN_USER_NAME=''
NO_VO_USER_NAME=''
ONE_VO_BALANCE_USER_NAME=''
NEW_USER_NAME=''
PASSWORD=''
INTEG_USER_NAME=''
INTEG_PASSWORD=''

# These will be set by the setup script:

BASE_URL=''
HMPPS_AUTH_URL=''
TEST_HELPER_API_URL=''
TESTING_CLIENT_ID='xxxxxxxxxx'      # Leave as-is for staging and dev environments
TESTING_CLIENT_SECRET='xxxxxxxxxx'  # Leave as-is for staging and dev environments

DEV_USER='dev_user'
DEV_PASSWORD='dev_password'